<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/style.css">

    <meta charset="UTF-8">
    <title>Orders</title>
</head>
<body>
<div id="container">

    <div id="menu_bar">
        <a class="active" data-th-href="@{/home}">Home</a>
        <a data-th-href="@{/new}">New order</a>
    </div>

    <div id="content">

    <table>
        <tr>
            <th>ID</th>
            <th>Food orders</th>
            <th>Drink orders</th>
            <th>Total</th>
        </tr>
        <tr data-th-each="order : ${orders}">
            <td data-th-text="${order.id}"></td>
            <td data-th-text="${order.foodOrders}"></td>
            <td data-th-text="${order.drinkOrders}"></td>
            <td data-th-text="${order.totalPrice}"></td>
        </tr>
    </table>
    </div>
</div>
</body>
</html>